@model PedidosMVC.Models.Order
@{
    ViewData["Title"] = "Eliminar pedido";
}
<h1>Eliminar</h1>
<h3>¿Seguro que deseas eliminar este pedido?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Cliente)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Cliente)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Estado)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Estado)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Fecha)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Fecha)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
