@model IEnumerable<PedidosMVC.Models.Order>
@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(_ => item.Cliente)</td>
            <td>@Html.DisplayFor(_ => item.Estado)</td>
            <td>@Html.DisplayFor(_ => item.Fecha)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
