@model PedidosMVC.Models.User
@{
    ViewData["Title"] = "Eliminar usuario";
}
<h1>Eliminar</h1>
<h3>¿Seguro que deseas eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Nombre)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Nombre)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Email)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Direccion)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Direccion)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
